<!--suppress ALL -->
<div id="elem">
  <div class="table-container">
  <!-- breadcrumbs -->
  <div class="breadcrumbs-container">
      <span class="breadcrumbs">
        <a routerLink="/admin">Admin</a> >
        <span class="breadcrumbs-atual"> Produtos</span>
      </span>
  </div>
  <!-- Card Table -->
  <mat-card class="mrd-table-card">
    <mat-card-header>
      <mat-card-subtitle style="display: inline-block; height: auto;">
        <span class="inputWithIcon inputIconFilter">
          <input (keyup)="applyFilter($event.target.value)" value="" size="20" type="text"
                 class="input email filter"
                 placeholder="Filtro">
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <table mat-table matSort [dataSource]="dataSource" class="table-drawer" [class.table-disabled]="loading$ | async">
        <!-- Radio Column -->
        <ng-container matColumnDef="radio">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell  *matCellDef="let row">
              <mat-radio-button (click)="onRowClicked($event, row)"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
              </mat-radio-button>
          </td>
        </ng-container>
        <!-- Produto Column -->
        <ng-container matColumnDef="product">
          <th mat-header-cell  mat-sort-header *matHeaderCellDef> Produto</th>
          <td mat-cell *matCellDef="let element"> {{element.product}} </td>
        </ng-container>

        <!-- Preço Column -->
        <ng-container matColumnDef="cost_price">
          <th mat-header-cell  mat-sort-header *matHeaderCellDef> Preço de Custo</th>
          <td mat-cell *matCellDef="let element"> {{element.cost_price | currency:'BRL':'symbol-narrow'}} </td>
        </ng-container>

        <!-- Data do registro Column -->
        <ng-container matColumnDef="date_create">
          <th mat-header-cell  mat-sort-header *matHeaderCellDef> Data de Criação</th>
          <td mat-cell *matCellDef="let element"> {{element.date_create | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <!--suppress JSUnusedGlobalSymbols -->
        <tr mat-row class="tab-linha" *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

      </table>
      <mat-paginator class="mrd-table-paginator"
                     [length]="100"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-card-content>

    <mat-card-actions class="mrd-table-action">
      <button mat-mini-fab matTooltip="Adicionar novo produto" aria-label="Novo produto">
        <i class="fas fa-plus"></i>
      </button>
      <button *ngIf="tableButtonsHide" mat-mini-fab matTooltip="Editar produto selecionado" aria-label="Editar produto selecionado">
        <i class="fas fa-check"></i>
      </button>
      <button *ngIf="tableButtonsHide" mat-mini-fab matTooltip="Excluir produto selecionado" aria-label="Excluir produto selecionado">
        <i class="fas fa-minus"></i>
      </button>
      <div class="fill"></div>
      <button (click)="onRefresh()" [class.mrd-table-preloader]="loading$ | async" mat-mini-fab matTooltip="Recarregar dados dos produtos" aria-label="Recarregar dados dos produtos">
        <i class="fas fa-sync"></i>
      </button>
    </mat-card-actions>

    <mat-card-footer class="mrd-table-progress-bar" *ngIf="loading$ | async">
      <mat-progress-bar class="color-progress" mode="query"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <a id="scrollPage">SCROLL</a>
</div>
</div>
