@import "../../shared/shared";
/* ********************************
         RESET
*********************************** */
* {
  margin: 0;
  padding: 0;
  @include u-box-sizing(border-box);
}

/* ********************************
         BREADCRUMBS
*********************************** */
.breadcrumbs {
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  font-weight: bold;
}

/* ********************************
         SPINNER
*********************************** */
.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

/* ********************************
         CARD
*********************************** */
.product-card {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.product-card-action {
  display: flex;
  background-color: #d2d2d2;
  padding: 5px;
  margin: 0 auto;
  height: 50px;
}

.fill {
  flex: 1;
}

.product-card-action button {
  background-color: #eac220;
  color: #505050;
  margin-left: 10px;
  margin-right: 10px;
}

.product-card-action .fa-minus {
  color: red;
}

.product-card-action .fa-sync {
  color: green;
}

.product-card-preloader {
}

.product-card-preloader i {
  position: absolute;
  color: red !important;
  margin-top: 3px;
  @include u-transform(translate(-50%,-50%));
  @include u-animate(spin 2200ms linear infinite);
}

@keyframes spin {
  0% {
    @include u-transform(translate(-50%,-50%) rotate(0deg));
  }
  100% {
    @include u-transform(translate(-50%,-50%) rotate(360deg));
  }

}
/* ********************************
         TABELA
*********************************** */
table {
  width: 100%;
}

.table-container {
  padding: 1%;
  width: 100%;
  height: 100%;
}

.table-drawer {
  width: 95%;
  margin: 0 auto 20px;
}

.mat-h1-text {
  padding-left: 20px;
  padding-top: 20px;
}

tr.mat-header-row {
  background-color: #c2c2c2 !important;
  font-size: 20px;
  font-weight: bold;
}

.mat-header-cell {
  color: rgba(0,0,0,.54);
  font-size: 20px;
}

td.mat-cell {
  font-family: Dashico, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.table-disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}
