<!--suppress ALL -->
<main class="form-container">
  <!-- breadcrumbs -->
  <div class="breadcrumbs-container">
      <span class="breadcrumbs">
        <a routerLink="/admin">Admin</a> >
        <a routerLink="/admin/user">Usuários</a> >
        <span class="breadcrumbs-atual"> Novo</span>
      </span>
  </div>

  <mat-card class="form-card">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="input-container">
          <mat-form-field>
            <input type="text" matInput formControlName="fullName" placeholder="Nome completo">
          </mat-form-field>
          <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="E-mail">
          </mat-form-field>
          <div class="senha-container">
            <mat-form-field>
              <input type="password" matInput formControlName="password" placeholder="Senha">
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput formControlName="passwordConfirm" placeholder="Confirmar senha">
            </mat-form-field>
          </div>
          <div class="select-container">
            <mat-form-field>
              <mat-select formControlName="usertipoId" placeholder="Tipo de usuário">
                <mat-option value="option" *ngFor="let tipo of userTipo">{{tipo.nome}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="userstatusId" placeholder="Status do usuário">
                <mat-option value="option" *ngFor="let status of userStatus">{{status.nome}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions class="form-table-action">
        <mat-divider [inset]="true"></mat-divider>
        <button type="submit" mat-mini-fab matTooltip="Salvar informações do usuário"
                aria-label="Salvar informações do usuário">
          <i class="fas fa-check"></i>
        </button>
        <div class="fill"></div>
        <button mat-mini-fab (click)="onReset()" matTooltip="Limpar formulário" aria-label="Limpar formulário">
          <i class="fas fa-redo"></i>
        </button>
      </mat-card-actions>
      <form-debug [form]="userForm"></form-debug>
    </form>
  </mat-card>

</main>
