<!--suppress ALL -->
<main class="form-container">
  <!-- breadcrumbs -->
  <div class="breadcrumbs-container">
      <span class="breadcrumbs">
        <a routerLink="/admin">Admin</a> >
        <a routerLink="/admin/user">Usuários</a> >
        <span class="breadcrumbs-atual"> Novo</span>
      </span>
  </div>

  <mat-card class="form-card">
    <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <mat-card-content>
        <div class="input-container">
          <mat-form-field>
            <input type="text" matInput formControlName="full_name" placeholder="Nome completo">
          </mat-form-field>
          <error-msg [control]="userForm.get('full_name')" [label]="'Nome'"></error-msg>
          <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="E-mail">
          </mat-form-field>
          <error-msg [control]="userForm.get('email')" [label]="'E-mail'"></error-msg>
          <div class="senha-container">
            <div class="field-error">
              <mat-form-field>
                <input type="password" matInput formControlName="password" placeholder="Senha">
              </mat-form-field>
              <error-msg [control]="userForm.get('password')" [label]="'Senha'"></error-msg>
            </div>
            <div class="field-error">
              <mat-form-field>
                <input type="password" matInput formControlName="passwordConfirm" placeholder="Confirmar senha">
              </mat-form-field>
              <error-msg [control]="userForm.get('passwordConfirm')" [label]="'Confirmar senha'" [otherLabel]="'Senha'"></error-msg>
            </div>
          </div>
          <div class="select-container">
            <div class="field-error">
              <mat-form-field>
                <mat-select formControlName="usertipo_id" placeholder="Tipo de usuário">
                  <mat-option value="{{tipo.id}}" *ngFor="let tipo of userTipo">{{tipo.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
              <error-msg [control]="userForm.get('usertipo_id')" [label]="'Tipo de usuário'"></error-msg>
            </div>
            <div class="field-error">
              <mat-form-field>
                <mat-select formControlName="userstatus_id" placeholder="Status do usuário">
                  <mat-option value="{{status.id}}" *ngFor="let status of userStatus">{{status.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
              <error-msg [control]="userForm.get('userstatus_id')" [label]="'Tipo de usuário'"></error-msg>
            </div>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions class="form-table-action">
        <mat-divider [inset]="true"></mat-divider>
        <button type="submit" mat-mini-fab matTooltip="Salvar informações do usuário"
                aria-label="Salvar informações do usuário">
          <i class="fas fa-check"></i>
        </button>
        <div class="fill"></div>
        <button type="submit" mat-mini-fab matTooltip="Limpar formulário" aria-label="Limpar formulário">
          <i class="fas fa-redo"></i>
        </button>
      </mat-card-actions>
      <form-debug [form]="userForm"></form-debug>
    </form>
  </mat-card>

</main>
