<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook">
      <div style="background-image:url(../../../assets/img/pages/1.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/2.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/3.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/4.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/5.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/6.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/7.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/8.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/9.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/10.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/11.jpg)"></div>
      <div style="background-image:url(../../../assets/img/pages/12.jpg)"></div>
    </div>
  </div>
</div>

