<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook">
      <div style="background-image:url(../../../assets/img/six/six1.jpg)"></div>
      <div style="background-image:url(../../../assets/img/six/six0.jpg)"></div>
      <div style="background-image:url(../../../assets/img/six/six3.jpg)"></div>
      <div style="background-image:url(../../../assets/img/six/six0.jpg)"></div>
      <div style="background-image:url(../../../assets/img/six/six0.jpg)"></div>
      <div style="background-image:url(../../../assets/img/six/six2.jpg)"></div>
    </div>
  </div>
</div>

