<!--suppress ALL -->
<main class="form-container">
  <!-- breadcrumbs -->
  <div class="breadcrumbs-container">
      <span class="breadcrumbs">
        <a routerLink="/admin">Admin</a> >
        <a routerLink="/admin/user">Usuários</a> >
        <span class="breadcrumbs-atual"> Editar</span>
      </span>
  </div>

  <mat-card class="form-card">
    <form [formGroup]="userForm" #f="ngForm">
      <mat-card-content>
        <div class="input-container">
          <mat-form-field>
            <input type="text" matInput placeholder="Nome completo" formControlName="full_name">
          </mat-form-field>
          <error-msg [control]="userForm.get('full_name')" [label]="'Nome'"></error-msg>
          <mat-form-field>
            <input type="email" matInput placeholder="E-mail" formControlName="email">
          </mat-form-field>
          <error-msg [control]="userForm.get('email')" [label]="'E-mail'"></error-msg>
          <div class="select-container">
            <div class="field-error">
              <mat-form-field>
                <mat-select placeholder="Tipo de usuário" formControlName="usertipo_id">
                  <mat-option [value]="tipo.id" *ngFor="let tipo of userTipo">{{tipo.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
              <error-msg [control]="userForm.get('usertipo_id')" [label]="'Tipo de usuário'"></error-msg>
            </div>
            <div class="field-error">
              <mat-form-field>
                <mat-select placeholder="Status do usuário" formControlName="userstatus_id">
                  <mat-option [value]="status.id" *ngFor="let status of userStatus">{{status.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
              <error-msg [control]="userForm.get('userstatus_id')" [label]="'Tipo de usuário'"></error-msg>
            </div>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions class="form-table-action">
        <mat-divider [inset]="true"></mat-divider>
        <button (click)="onDelete($event)" mat-mini-fab matTooltip="Excluir usuário"
                aria-label="Excluir usuário">
          <i class="fas fa-user-minus"></i>
        </button>
        <button (click)="onSubmit()" type="submit" mat-mini-fab matTooltip="Salvar informações do usuário"
                aria-label="Salvar informações do usuário">
          <i class="fas fa-check"></i>
        </button>
        <div class="fill"></div>
        <button (click)="onReset()" mat-mini-fab matTooltip="Cancelar edição" aria-label="Cancelar edição">
          <i class="fas fa-undo"></i>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

</main>

