<article id="wrapper">
  <main id="cont">
    <section class="main-bg">
      <header>
        <div class="logo-box center">
          <img alt="MRD Logo" src="assets/img/logo-300x300.png">
        </div>
      </header>
      <picture class="bg-img">
        <img src="../../assets/img/Gamer.jpg" alt="Background">
      </picture>
    </section>
    <footer>
      <div class="center-footer">
        <div>© MRD Games 2018</div>
        <a href="http://www.cgctec.com.br" target="_blank" class="copy">Desenvolvido © 2019 - por CGC Tecnologia</a>
      </div>
    </footer>
  </main>
  <main id="main">
    <section id="content">
    </section>
    <nav id="nav">
      <a href="#" class="toggle-nav btn-lock"><i class="fas fa-lock"></i></a>
      <login-form (hasError)="withError($event)"></login-form>
    </nav>
  </main>
</article>
