/* ********************************
         VARIÁVEIS
*********************************** */
$mrd-color: #eac220;
$mrd-color-light: rgba(234,194,32,.8);
$mrd-bg-color: #111111;
$mrd-bg-color-nav: #222222;
$mrd-bg-color-trans: rgba(17,17,17,0.8);
$mrd-bg-color-focus-trans: rgba(0,0,0,0.8);
$mrd-error-color: red;
$mrd-font-family: "Open Sans", Roboto, sans-serif;


/* ********************************
         MIXINS
*********************************** */
@mixin u-transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin u-transition-300 {
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

@mixin u-box-sizing ($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin u-transform ($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin u-backface ($backface) {
  -webkit-backface-visibility: $backface;
  -moz-backface-visibility: $backface;
  backface-visibility: $backface;
}

@mixin u-animate ($animate) {
  -webkit-animation: $animate;
  -moz-animation: $animate;
  -ms-animation: $animate;
  animation: $animate;
}

/* ********************************
         RESET
*********************************** */
* {
  margin: 0;
  padding: 0;
  @include u-box-sizing(border-box);
}

.fill {
  flex: 1;
}


/* ********************************
         DEEP MATERIAL
*********************************** */
::ng-deep .mat-tooltip {
  background-color: $mrd-bg-color-nav;
  color: $mrd-color !important;
  font-size: 1em;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $mrd-color!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $mrd-color!important; /*outer ring color change*/
}

::ng-deep .mat-divider {
  border-top-color: $mrd-color;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: $mrd-color!important; /*outer ring color change*/
}

::ng-deep .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: $mrd-color;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: $mrd-color;
}

::ng-deep .mat-progress-bar-buffer {
  background: $mrd-bg-color;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $mrd-color;
  font-size: 1.2em;
}

::ng-deep .mat-input-element {
  font-size: 1.5em !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: $mrd-color;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: $mrd-color-light !important;
  font-size: 1.1em;
}

::ng-deep .mat-form-field-ripple {
  background-color: $mrd-color-light !important;
  font-size: 1.1em;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: $mrd-color;
  font-size: 1.1em;
}

::ng-deep .mat-select-panel {
  background-color: $mrd-color;
  font-size: 1.2em !important;
  padding-left: 3%;
}

::ng-deep .mat-select-value {
  font-family: $mrd-font-family;
  font-size: 1.4em;
  color: $mrd-color;
}

::ng-deep .mat-select-arrow {
  color: $mrd-color;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $mrd-color-light;
}
