/* ********************************
         VARIÁVEIS
*********************************** */
$mrd-color: #eac220;
$mrd-bg-color: #111111;
$mrd-bg-color-nav: #222222;
$mrd-bg-color-trans: rgba(17,17,17,0.8);
$mrd-bg-color-focus-trans: rgba(0,0,0,0.8);
$mrd-error-color: red;
$mrd-font-family: "Open Sans", Roboto, sans-serif;

/* ********************************
         MIXINS
*********************************** */
@mixin u-transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin u-transition-300 {
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

@mixin u-box-sizing ($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin u-transform ($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin u-backface ($backface) {
  -webkit-backface-visibility: $backface;
  -moz-backface-visibility: $backface;
  backface-visibility: $backface;
}

@mixin u-animate ($animate) {
  -webkit-animation: $animate;
  -moz-animation: $animate;
  -ms-animation: $animate;
  animation: $animate;
}

/* ********************************
         RESET
*********************************** */
* {
  margin: 0;
  padding: 0;
  @include u-box-sizing(border-box);
}
