@import "../../../shared/shared";

::ng-deep .mat-dialog-container {
  background-color: $mrd-bg-color-nav;
  opacity: .9;
  padding: 0;
  color: $mrd-bg-color;
  border: 2px solid $mrd-color;
}

.password-form-container {
  max-width: 400px;
  padding-right: 5%;
  padding-left: 5%;
}

.password-dialog-title {
  display: flex;
  flex-direction: row;
  background-color: $mrd-bg-color;
  padding: 10px;
  height: 80px;
}

.password-dialog-title div {
  display: flex;
  flex-direction: row;
  margin: auto auto;
}

.password-dialog-title i {
  font-size: 1.2em;
}

.password-dialog-content {
  padding: 20px;
  color: $mrd-bg-color-nav !important;
}

.password-dialog-actions {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 10px;
  align-content: flex-end;
  height: 60px;
}

.password-dialog-actions button {
  background-color: $mrd-color;
  color: $mrd-bg-color-nav;
  margin-left: 10px;
  margin-right: 10px;
}

.password-dialog-actions .fa-check {
  color: green;
}

.mat-dialog-actions {
}

.success {
  color: green;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}

.info {
  color: blue;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}

.warn {
  color: $mrd-color;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}
