<div class="confirm-dialog-container">
  <div mat-dialog-title class="confirm-dialog-title {{data.type}}">
    <span><i class="far fa-check-square fa-2x"></i>   </span>
    <h1>&nbsp;&nbsp;&nbsp;{{data.title}}</h1>
  </div>
  <div mat-dialog-content class="confirm-dialog-content {{data.type}}">
    <p>{{data.message}}</p>
  </div>
  <div mat-dialog-actions>
    <div class="confirm-dialog-actions">
      <button mat-button (click)="onNoClick()" cdkFocusInitial>NÃO</button>
      <button mat-button [mat-dialog-close]="true">SIM</button>
    </div>
  </div>
</div>
