@import "../shared/shared";

/* ********************************
         ADMIN AREA
*********************************** */
.admin-toggle-nav-icon {
  font-size: 2em;
}

.admin-toolbar-main {
  background-color: $mrd-bg-color;
  color: $mrd-color;
  z-index: 100;
}

.admin-logo-toolbar {
  margin-left: 30px;
  margin-top: 10px;
}

.admin-logo-toolbar-mini {
  margin-left: 15px;
  margin-top: 9px;
  width: 60%;
}

.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $mrd-bg-color-nav;
  color: $mrd-color;
  height: 100%;
}

.admin-menu-list-header {
  font-family: $mrd-font-family;
  color: $mrd-color;
  background-color: $mrd-bg-color-nav;
}

.admin-menu-list-header:hover {
  background-color: rgba(10,10,10,.87) !important;
}

.admin-menu-list-header:focus {
  background-color: $mrd-bg-color-nav !important;
  font-weight: bold;
  border: none;
}

.admin-header-exp-text {
  color: inherit;
  font-size: 1.2em;
}

.admin-expansion-panel {
  color: $mrd-color !important;
  background-color: #333 !important;
}

.mat-list-item {
  background-color: transparent !important;
}

.admin-menu-list-item a {
  color: $mrd-color !important;
}

.admin-menu-list-item a:focus {
  color: $mrd-color !important;
  font-weight: bold;
}

/* ********************************
         ADMIN AREA
*********************************** */
.container {
  color: $mrd-color;
  background-color: $mrd-bg-color-focus-trans;
  min-height: 100vh;
}
