@import "../shared/shared";

/* ********************************
         ADMIN AREA
*********************************** */
.admin-toggle-nav-icon {
  font-size: 2em;
}

.admin-toolbar-main {
  background-color: $mrd-bg-color;
  color: $mrd-color;
  z-index: 100;
}

.fixed-bar {
  position: fixed;
}

.admin-logo-toolbar {
  margin-left: 30px;
  margin-top: 10px;
}

.admin-logo-toolbar-mini {
  margin-left: 15px;
  margin-top: 9px;
  width: 60%;
}

.sidenav {
  background-color: $mrd-bg-color-nav;
  color: $mrd-color;
  height: 100%;
  width: 200px;
}

.admin-menu-list-header {
  font-family: $mrd-font-family;
  color: $mrd-color;
  background-color: $mrd-bg-color-nav;
}

.admin-menu-list-header:hover {
  background-color: rgba(10,10,10,.87) !important;
}

.admin-menu-list-header:focus {
  background-color: $mrd-bg-color-nav !important;
  font-weight: bold;
  border: none;
}

.admin-header-exp-text {
  color: inherit;
  font-size: 1.2em;
}

.admin-expansion-panel {
  color: $mrd-color !important;
  background-color: #333 !important;
}

.mat-list-item {
  background-color: transparent !important;
}

.admin-menu-list-item a {
  color: $mrd-color !important;
}

.admin-menu-list-item a:focus {
  color: $mrd-color !important;
  font-weight: bold;
}

/* ********************************
         ADMIN AREA
*********************************** */
.container {
  color: $mrd-color;
  background-color: $mrd-bg-color-focus-trans;
  min-height: 100vh;
}

.admin-snak-bar {
  background-color: $mrd-bg-color-nav !important;
  color: $mrd-color !important;
}
/* ********************************
         USER MENU
*********************************** */
.user-card {
  display: flex;
  color: $mrd-color;
  background-color: $mrd-bg-color-nav;
  flex-direction: column;
  align-content: center;
}

.user-card-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.user-header-image {
  margin: 10px auto;
  width: 60px;
  height: 60px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}

::ng-deep .mat-menu-panel {
  min-width: 200px;
  color: $mrd-color !important;
  background-color: $mrd-bg-color;
}

::ng-deep .mat-menu-item {
  color: $mrd-color !important;
  min-width: 200px;
  padding-left: 3%;
  font-size: 1.2em;
}

::ng-deep .mat-card-subtitle {
  color: $mrd-color !important;
}
