<!--suppress ALL -->
<mat-toolbar class="mat-elevation-z8 admin-toolbar-main">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon class="admin-toggle-nav-icon" fontSet="fa" fontIcon="fa-bars" aria-label="Side nav toggle icon"></mat-icon>
  </button>
  <span>
    <img src="../../assets/img/logo-100x100.png" alt=""
         [ngClass]="(isHandset$ | async) ? 'admin-logo-toolbar-mini' : 'admin-logo-toolbar'">
  </span>
  <div class="fill"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <img mat-card-avatar class="user-avatar" src="{{src}}" alt="Avatar">
  </button>
  <mat-menu #menu="matMenu" class="user-menu">
    <button mat-menu-item>
      <div>{{userAuth.name}}</div>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <i class="far fa-address-card"></i>
      <span>&nbsp;&nbsp;&nbsp;Perfil</span>
    </button>
    <button mat-menu-item (click)="onChangePassword()">
      <i class="fa fa-lock"></i>
      <span>&nbsp;&nbsp;&nbsp;Alterar senha</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogoff()">
      <i class="fas fa-sign-out-alt"></i>
      <span>&nbsp;&nbsp;&nbsp;Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!--suppress ALL -->
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav mat-elevation-z12"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">

    <mat-card class="user-card">
      <mat-card-header class="user-card-header">
        <img mat-card-avatar class="user-header-image" src="{{src}}" alt="Avatar">
        <mat-card-title>{{userAuth.name}}</mat-card-title>
        <mat-card-subtitle>{{userAuth.typeName}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-nav-list>

      <mat-accordion>

        <mat-expansion-panel class="admin-expansion-panel">
          <mat-expansion-panel-header class="mat-elevation-z6 admin-menu-list-header">
            <a class="admin-header-exp-text">Dashboards</a>
          </mat-expansion-panel-header>
          <div class="admin-menu-list-item">
            <a mat-list-item routerLinkActive="active" routerLink="/admin/controle">Controle</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="admin-expansion-panel">
          <mat-expansion-panel-header class="mat-elevation-z6 admin-menu-list-header">
            <a class="admin-header-exp-text">Cadastros</a>
          </mat-expansion-panel-header>
          <div class="admin-menu-list-item">
            <a mat-list-item routerLink="/admin/user">Usuários</a>
            <a mat-list-item routerLink="/admin/product">Produtos</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="admin-expansion-panel">
          <mat-expansion-panel-header class="mat-elevation-z6 admin-menu-list-header">
            <a class="admin-header-exp-text">Serviços</a>
          </mat-expansion-panel-header>
          <div class="admin-menu-list-item">
            <a mat-list-item routerLink="/admin/reading">Leituras</a>
            <a mat-list-item routerLink="/admin">Serviço 3.3</a>
            <a mat-list-item routerLink="/admin">Serviço 3.4</a>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
  <ng-template ly-snack-bar
               #sb="lySnackBar"
               (afterDismissed)="afterDismissed($event)"
                class="admin-snak-bar">
    <span>{{newPasswordMessage}}</span>
  </ng-template>
</mat-sidenav-container>
