@import "../../../../shared/shared";

/* ********************************
         BREADCRUMBS
*********************************** */
.breadcrumbs-container {
  font-family: $mrd-font-family;
  margin-top: 5px;
  margin-left: 5px;
}

.breadcrumbs-atual {
  font-size: 1.3em;
}

.breadcrumbs {
  font-size: 1.2rem;
}

.breadcrumbs a {
  text-decoration: none;
  font-weight: bold;
  color: $mrd-color;
}

/* ********************************
         SPINNER
*********************************** */

.mrd-table-progress-bar {
  color: $mrd-color !important;
}

/* ********************************
         CARD
*********************************** */
.mrd-table-card {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: $mrd-color !important;
  font-family: $mrd-font-family;
}

.mrd-table-action {
  display: flex;
  background-color: transparent;
  padding: 10px;
  margin: 0 auto;
  height: 60px;
}

.mrd-table-action button {
  background-color: $mrd-color;
  color: $mrd-bg-color-nav;
  margin-left: 10px;
  margin-right: 10px;
}

.mrd-table-action .fa-user-minus {
  color: red;
}

.mrd-table-action .fa-minus {
  color: red;
}

.mrd-table-action .fa-sync {
  color: green;
}


.mrd-table-preloader i {
  position: absolute;
  color: red !important;
  margin-top: 3px;
  @include u-transform(translate(-50%,-50%));
  @include u-animate(spin 2200ms linear infinite);
}

@keyframes spin {
  0% {
    @include u-transform(translate(-50%,-50%) rotate(0deg));
  }
  100% {
    @include u-transform(translate(-50%,-50%) rotate(360deg));
  }

}

/* ********************************
         MATERIAL TABLE
*********************************** */
table {
  width: 100%;
}

.table-container {
  padding: 1%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.table-drawer {
  width: 95%;
  margin: 0 auto 20px;
}

//noinspection ALL
.mat-h1-text {
  padding-left: 20px;
  padding-top: 20px;
}

//noinspection ALL
tr.mat-header-row {
  background-color: $mrd-bg-color-focus-trans;
  font-weight: bold;
  color: $mrd-color;
  font-size: 1.2em;
}

//noinspection ALL
td.mat-cell {
  font-family: $mrd-font-family;
  color: $mrd-color;
  font-size: 1.2em;
}

//noinspection ALL
.mat-header-cell {
  background-color: rgba(10,10,10,.54);
  color: $mrd-color;
  font-size: 1.1em;
}

.tab-linha {
  color: $mrd-color !important;
  background-color: $mrd-bg-color;
}

.mat-table tbody {
  color: $mrd-color !important;
}

.tab-linha:hover {
  cursor: pointer;
  background-color: rgba(17,17,17,0.9);
  color: $mrd-color !important;
}

//noinspection ALL
.table-disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

.mrd-table-paginator {
  background-color: transparent;
  color: $mrd-color;
  font-size: 1.2em;
}

.mrd-table-paginator-handset {
  font-size: .7em;
  display: flex;
  flex-direction: row;
}

//noinspection ALL
.mat-paginator-navigation-previous .mat-paginator-navigation-next .mat-icon-button {
  background-color: red !important;
  color: $mrd-color !important;
}

.filter {
  color: $mrd-color;
  background-color: $mrd-bg-color-trans;
  background-position: 14px center;
  background-repeat: no-repeat;
  float: left;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 22px;
  padding: 8px 40px 8px 12px;
  width: 80%;
  display: block;
  line-height: 28px;
  border-radius: 10px;
}

.inputWithIcon {
  position: relative;
  display: inline-block;
  font-family: "Font Awesome 5 Free", "Open Sans", sans-serif;
  font-size: 1.5em;
  padding-right: 3px;
  font-weight: 900;
  color: $mrd-color;
}

.inputIconFilter::after {
  position: absolute;
  top: 20px;
  right: 20%;
  content: "\f0b0";
  @include u-transition(all .6s ease-in-out);
}

/* ********************************
         DEEP MATERIAL
*********************************** */
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $mrd-color!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $mrd-color!important; /*outer ring color change*/
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: $mrd-color!important; /*outer ring color change*/
}

::ng-deep .mat-select-panel {
  background-color: $mrd-color;
  font-size: 2em;
}

::ng-deep .mat-select-value {
  font-family: $mrd-font-family;
  font-size: 1.4em;
  color: $mrd-color;
}

::ng-deep .mat-select-arrow {
  color: $mrd-color;
}

::ng-deep .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: $mrd-color;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: $mrd-color;
}

::ng-deep .mat-progress-bar-buffer {
  background: $mrd-bg-color;
}


/* ********************************
         SCROLL TO TOP
*********************************** */
#scrollPage {
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 1.5%;
  overflow: hidden;
  z-index: 999;
  width: 35px;
  height: 35px;
  border: none;
  text-indent: 100%;
  background: url('/assets/img/mrd-move-up.png') no-repeat 0 0;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=0.6);
  @include u-transition(all .8s ease-in-out);
}

.to-bottom {
  bottom: 15px;
  @include u-animate(tobotton .8s linear 1);
}

@keyframes tobotton {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 15px;
  }

}

.to-top {
  top: 15px;
  @include u-animate(totop .8s linear 1);
}

@keyframes totop {
  0% {
    top: 90%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 15px;
  }

}

#scrollPage:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=1);
  @include u-transition(all .6s ease-in-out);
}
