/* ********************************
         BREADCRUMBS
*********************************** */
.breadcrumbs {
  padding-top: 20px;
  padding-left: 20px;
}
.breadcrumbs a {
  text-decoration: none;
  font-weight: bold;
}

.breadcrumbs span::before {
  content: " / ";
}
/* ********************************
         MATERIAL TABLE
*********************************** */
table {
  width: 100%;
}

.table-drawer {
  width: 95%;
  margin: 0 auto 20px;
}

.mat-h1-text {
  padding-left: 20px;
  padding-top: 20px;
}

tr.mat-header-row {
  background-color: #c2c2c2 !important;
  font-size: 20px;
  font-weight: bold;
}

td.mat-cell {
  font-family: Dashico, "Helvetica Neue", sans-serif;
  font-size: 18px;
}


.mat-header-cell {
  color: rgba(0,0,0,.54);
  font-size: 20px;
}

.tab-linha:hover {
  cursor: pointer;
  background-color: rgba(17,17,17,0.1);
}

