@import "../../../shared/shared";

::ng-deep .mat-dialog-container {
  background-color: #c2c2c2;
  opacity: .9;
  padding: 0;
  border: 2px solid $mrd-color;
}

.confirm-dialog-container {
}

.confirm-dialog-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $mrd-bg-color;
  padding: 10px;
}

.confirm-dialog-content {
  padding: 20px;
  color: $mrd-bg-color-nav !important;
}

.confirm-dialog-actions {
  justify-content: flex-end !important;
  margin-right: 2%;
}

.mat-dialog-actions {
  justify-content: flex-end !important;
}

.success {
  color: green;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}

.info {
  color: blue;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}

.warn {
  color: $mrd-color;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}
