@import "../../../shared/shared";

.error-dialog-container {

}

.error-dialog-title {

}

.error-dialog-content {

}

.error-dialog-actions {

}

.error {
  color: red;
  font-family: $mrd-font-family;
  font-size: 1.2em;
}
