.full-width-table {
  width: 100%;
}

table {
  width: 100%;
}

.table-drawer {
  width: 95%;
  margin: 0 auto 20px;
}

.mat-h1-text {
  padding-left: 20px;
  padding-top: 20px;
}

.mat-column-select {
  overflow: initial;
}
