body {
  margin: 0;
  padding: 0;
  //color: #4a4b3c;
}

#email-container {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 600px;
  color: #eac220;
  background-color: #333333;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 2%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

