<main class="view-container">
  <!-- breadcrumbs -->
  <div class="breadcrumbs-container">
      <span class="breadcrumbs">
        <a routerLink="/admin">Admin</a> >
        <a routerLink="/admin/user">Usuários</a> >
        <span class="breadcrumbs-atual"> Visualizar</span>
      </span>
  </div>

  <mat-card class="view-card">
    <mat-card-header class="view-card-header">
      <div class="fileInputContainer">
        <div (click)="fileInput.click()" class="fileInputImg">
          <img mat-card-avatar class="view-header-image" src="{{src}}" alt="Avatar">
        </div>
        <div (click)="fileInput.click()" class="fileInputDiv">Foto</div>
      </div>
      <input type="file" (change)="onFindFile($event)" #fileInput hidden>
      <div>
        <mat-card-title>{{userView["nome"]}}</mat-card-title>
        <mat-card-subtitle>{{userView["tipo"]}}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider class="view-divide" [inset]="true"></mat-divider>
      <div class="view-card-content">
        <div class="view-row">
          <div class="view-label">
            <p>E-mail:</p>
          </div>
          <div class="view-detail">
            <p>{{userView["email"]}}</p>
          </div>
        </div>
        <div class="view-row">
          <div class="view-label">
            <p>Data de criação:</p>
          </div>
          <div class="view-detail">
            <p>{{userView["data"]  | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <div class="view-row">
          <div class="view-label">
            <p>Última atualização:</p>
          </div>
          <div class="view-detail">
            <p>{{userView["data2"]  | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>

        <div class="view-row">
          <div class="view-label">
            <p>Status:</p>
          </div>
          <div class="view-detail">
            <p [style.color]="userView['status'] === 'Ativo' ? 'green' : 'yellow' ">{{userView["status"]}}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-divider class="view-divide" [inset]="true"></mat-divider>
    <mat-card-actions class="view-card-action">
      <button (click)="onEdit($event)" mat-mini-fab matTooltip="Editar dados do usuário"
              aria-label="Editar dados do usuário">
        <i class="fas fa-edit"></i>
      </button>
      <div class="fill"></div>
      <button routerLink="/admin/user" mat-mini-fab matTooltip="Retornar para lista de usuários"
              aria-label="Retornar para lista de usuários">
        <i class="fas fa-undo"></i>
      </button>
    </mat-card-actions>
  </mat-card>
</main>
